.restore {
  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 80%;
  max-width: 600px;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}

.restore-image {
  width: 60px;
  height: auto;
  margin-bottom: 15px;
}

.restore-heading {
  color: inherit;
  font-size: 32px;

  margin: 0 0 15px;
}
.main.light .restore-para {
  color: rgba(0, 0, 0, 0.6);
}

.restore-para {
  color: rgba(255, 255, 255, 0.6);

  width: 100%;
  max-width: 500px;

  margin: 0 0 25px;

  line-height: 1.5;
}

.restore-btn {
  width: 111px;
  height: 42px;

  padding: 8px 30px;

  border: none;
  border-radius: 6px;

  background-color: rgba(49, 46, 181, 1);
  color: rgba(255, 255, 255, 1);

  font-size: 14px;
  font-weight: 500;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.restore-btn:hover {
  background-color: rgba(255, 255, 255, 0.85);
}

.restore-btn:active {
  transform: scale(0.98);
}
